// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$anthem-blue: #0179C2;
$anthem-ligh-blue: #F2FBFC;
$anthem-green: #8CC22E;
$anthem-cta: #EBF0F1;

$primary: #5E5E5E; // Thats a sample how you could change a BootStrap variable.
$secondary: $anthem-blue;
$dark: #5E5E5E;

$ibm: 'IBM Plex Sans', sans-serif;
$neuzeit: "neuzeit-grotesk",sans-serif;


// Space Sizes
$multiple: 1.2;
$space-4: calc(1.333rem * #{$multiple}); //12.718px
$space-3: calc(1.777rem * #{$multiple}); //16.953px
$space-2: calc(2.369rem * #{$multiple}); //22.599px
$space-1: calc(3.157rem * #{$multiple}); //30.124px
$space1: calc(4.209rem * #{$multiple}); //40.155px
$space2: calc(5.61rem * #{$multiple}); //53.527px;
$space3: calc(7.478rem * #{$multiple}); //71.352px;
$space4: calc(9.969rem * #{$multiple}); //95.112px;
$space5: calc(13.288rem * #{$multiple}); //126.784px;
$space6: calc(17.713rem * #{$multiple}); //169.003px;
$space7: calc(23.612rem * #{$multiple}); //225.282px;
$space8: calc(31.475rem * #{$multiple}); //300.3px;
$space9: calc(41.956rem * #{$multiple}); //400.3px;
$space10: calc(55.927rem * #{$multiple}); //533.6px;
$space11: calc(74.551rem * #{$multiple}); //711.289px;

// Font Sizes
$multiple: 1;
$font-2: calc(.75rem * #{$multiple}); //7.158px
$font-1: calc(1rem * #{$multiple}); //9.541px
$font1: calc(1.333rem * #{$multiple}); //12.718px
$font2: calc(1.777rem * #{$multiple}); //16.953px
$font3: calc(2.369rem * #{$multiple}); //22.599px
$font4: calc(3.157rem * #{$multiple}); //30.124px
$font5: calc(4.209rem * #{$multiple}); //40.155px
$font6: calc(5.61rem * #{$multiple}); //53.527px;
$font7: calc(7.478rem * #{$multiple}); //71.352px;
