// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

html {
  font-size: 14px!important;
  @include media-breakpoint-down(sm) {
    font-size: $font-2!important;
  }
}

body {
  font-family: $neuzeit;
  color: $primary;
  font-size: inherit!important;
}

p {
  @include media-breakpoint-down(sm) {
    font-size: $font1!important;
  }
}


@include media-breakpoint-up(md) {

}

@include media-breakpoint-down(sm) {

  .container {
    padding: 0 $space-2;
  }
}

p {
  font-size: $font-1;
}

h1, h2, h3 {
  font-family: $ibm;
  color: $primary;
}

h4, h5, h6 {
  letter-spacing: 1px;
}

h1, .h1 {
  font-size: 2.8em;
  font-size: $font4;
  line-height: 1.5;
  @include media-breakpoint-up(md) {
    line-height: 2;
  }
}

h2, .h2 {
  font-weight: 200;
  font-size: $font4;
}

h3, .h3 {
  font-size: $font3; }

h4, .h4 {
  font-size: $font2;
  margin-bottom: $space1;
 }

h5, .h5 {
  font-size: $font1; }

h6, .h6 {
  font-size: 1rem; }

*:focus {
  outline: none;
}

.anchor-tag {
  display: block;
}

.bg-centered {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid {
  max-width: 1400px;
}
// Header

#wrapper-navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: transparent;
  width: 100%;
  @include media-breakpoint-down(sm) {
    .container-fluid {
      padding-bottom: 1em!important;
    }
  }
}
.admin-bar #wrapper-navbar {
  top: 32px;
}

.navbar-brand {
  padding-bottom: 0;
  max-width: 6.25em;
  @include media-breakpoint-up(md) {
    max-width: 9.25em;
  }
}

.navbar-toggle {
  @include media-breakpoint-up(md) {
    display: none;
  }
  .navbar-toggler-icon {
    width: 1.4em;
    height: 1.4em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 25 20' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.9)' stroke-width='2' stroke-linecap='square' stroke-miterlimit='6' d='M4 7h22M4 13h22M4 19h22'/></svg>");
  }
}

#mobile-nav {
  width: 75vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: $anthem-blue;
  padding: 8em 2.5em 2em;
  transform: translateX(100%);
  transition: transform .2s ease-in-out;
  &.active {
    transform: translateX(0);
  }
  @include media-breakpoint-up(md) {
    display: none!important;
  }
  #navbar-close {
    width: 1.2em;
    height: auto;
    position: absolute;
    top: 1.5em;
    right: 2.5em;
    img {
      width: 100%;
      height: auto;
    }
  }
  #navbar-label {
    font-weight: 700;
    text-transform: uppercase;
    color: $anthem-green;
  }
  ul {
    margin-bottom: 3em;
    li {
      padding: 1em 0;
      a {
        color: white;
        font-size: 1.2rem;
        font-size: $font1;
        font-weight: 200;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.navbar>.container-fluid {
  align-items: center;
  @include media-breakpoint-up(md) {
    align-items: flex-start;
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      padding: 1rem 0 1.75rem;
      margin: 0 1rem;
      position: relative;
      overflow: hidden;
      transition: all .2s linear;
      font-size: $font-1;
      @include media-breakpoint-up(md) {
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: .2rem;
          background-color: $anthem-blue;
          bottom: 0;
          opacity: 0;
          left: 0;
          transform: translateY(.2rem);
          transition: all .3s linear;
        }
        &:hover {
          color: $anthem-blue;
          &::after {
            opacity: 1;
            bottom: 0;
            transform: translateY(0);
          }
        }
      }
    }
  }
}

// Hero

#hero {
  position: relative;
  .container {
    padding-top: 7rem!important;
    @include media-breakpoint-up(md) {
      &::after {
        content: '';
        width: 70%;
        height: 6rem;
        background-color: white;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 0!important;
      padding-bottom: 0!important;
    }
    #hero-copy {
      overflow: hidden;
    }
    .hero-content {
      transition: transform .2s ease-in-out;
      @include media-breakpoint-down(sm) {
        padding: 0!important;
      }
      &.inactive {
        transform: translateX(-100%);
      }
      @include media-breakpoint-up(md) {
        margin-left: -2rem;
      }
      @include media-breakpoint-up(lg) {
        margin-left: -2rem;
      }
    }
  }
  @include media-breakpoint-up(md) {
    &::after {
      content: '';
      width: 50%;
      height: 6rem;
      background-color: white;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .hero-cover {
    background-color: $anthem-ligh-blue;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .97;
    transition: opacity .3s linear;
    &.inactive {
      opacity: 0;
      transition-delay: .2s;
    }
  }
  #play-button-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 0 2em;
    @include media-breakpoint-up(md) {
      position: absolute;
      bottom: 8rem;
      right: 3rem;
    }
    .play-video {
      z-index: 1;
      cursor: pointer;
      text-align: center;
      position: relative;
      display: block;
      .play-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: .8em 0 .8em 1.3em;
        border-color: transparent transparent transparent $anthem-blue;
        display: block;
        margin: 0 auto 2em;
      }
      span {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: $font-2;
      }
    }
  }
}

// Video Lightbox

#video-background-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
  z-index: 9;
  &.active {
    display: block;
  }
  #video-background-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(54,55,50,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    #video-background-close {
      width: 1.1em;
      height: 1.1em;
      position: absolute;
      right: 1.5em;
      top: 1.5em;
      background-image: url('../images/x.png');
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }
    #video-background {
      width: 80%;
      height: auto;
    }
  }
}

.admin-bar #hero .container {
  padding-top: calc(7rem + 32px)!important;
}

// about

#about-container {
  clear: both;
  @include media-breakpoint-down(sm) {
    padding-top: 5em;
  }
  h5 {
    color: #D1D1D1;
  }
  .about-us-image {
    position: relative;
    padding: $space1;
    padding-bottom: 0;
    img.crowdsourcing {
      width: 45%;
      height: auto;
      position: absolute;
      left: 30%;
      top: 25%;
    }
  }
  svg {
    overflow: visible;
    opacity: .5;
    transition: opacity 3s linear;
    transform: translateZ(0);
    polygon {
      transform: scale(.3) translateZ(0);
      transition: transform 2s cubic-bezier(0.86, 0, 0.07, 1);
    }
    polygon:nth-child(1) {
      transform: translate(-10rem, -5rem);
    }
    polygon:nth-child(2) {
      transform: translate(-3rem, 3rem);
    }
    polygon:nth-child(3) {
      transform: translate(-8rem, 6rem);
    }
    polygon:nth-child(4) {
      transform: translate(3rem, 4rem);
    }
    polygon:nth-child(5) {
      transform: translate(6rem, 10rem);
    }
    polygon:nth-child(6) {
      transform: translate(1rem, -8rem);
    }
    polygon:nth-child(7) {
      transform: translate(5rem, -9rem);
    }
    polygon:nth-child(8) {
      transform: translate(5rem, 6rem);
    }
    polygon:nth-child(9) {
      transform: translate(-8rem, -6rem);
    }
    polygon:nth-child(10) {
      transform: translate(2rem, 4rem);
    }
  }
  &.active {
    svg {
      opacity: 1;
      polygon {
        transform: translate(0) translateZ(0) scale(1);
      }
    }
  }
}

// history

#history-container {
  padding-bottom: 6rem;
  #history-content {
    border-bottom: 2px solid black;
    margin-bottom: 3rem;
    .slick-list {
      margin: 0 auto;
    }
    .slick-track {
      //width: auto!important;
    }
    .statistic-container {
      text-align: center;
      padding-bottom: 1rem;
      .statistics-content {
        text-align: center;
        padding: 2rem 1rem;
        position: relative;
        margin-bottom: 1rem;
        transition: background-color .3s linear;
        display: inline-block;
        margin: 0 auto;
        .statistic-icon {
          width: 50px;
          height: 50px;
          transform: scale(0);
          background-size: contain;
          margin: 0 auto;
          transition: transform .3s ease-in-out;
          transition-delay: .15s;
        }
        .border-span-x {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          overflow: hidden;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 2px;
            height: 100%;
            background-color: rgba(0, 121, 194, .5);
            transform: translateY(-100%);
            transition: all .1s linear;
            opacity: 0;
          }
          &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 2px;
            height: 100%;
            background-color: rgba(140, 194, 46, .5);
            transform: translateY(100%);
            transition: transform .1s linear;
          }
        }
        .border-span-y {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          overflow: hidden;
          &::before, &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 121, 194, .5)), to(rgba(140, 194, 46, .5)));
            background-image: -webkit-linear-gradient(left, rgba(0, 121, 194, .5), rgba(140, 194, 46, .5));
            background-image: -moz-linear-gradient(left, rgba(0, 121, 194, .5), rgba(140, 194, 46, .5));
            background-image: -o-linear-gradient(left, rgba(0, 121, 194, .5), rgba(140, 194, 46, .5));
            transform: translateX(-100%);
            transition: all .5s linear;
            opacity: 0;
          }
          &::after {
            top: auto;
            bottom: 0;
            transition: all .3s linear;
          }
        }
        &::after {
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: black;
          left: 50%;
          bottom: 1rem;
          transform: translate(-50%, 50%);
          transition: bottom .2s linear;
        }
        &::before {
          content: '';
          position: absolute;
          width: 2px;
          height: 2rem;
          background-color: black;
          left: 50%;
          bottom: -1rem;
          transform: translateX(-50%);
          transition: height .2s linear;
        }
        .statistic-number {
          margin-bottom: 1.5rem;
          span {
            color: #cdcdcc;
            font-size: 4rem;
            font-weight: 300;
          }
        }
        .statistic-description {
          text-transform: uppercase;
        }
      }
      &:hover {
        padding-bottom: 1rem;
        .statistics-content {
          background-color: #fafafa;
          &::before {
            height: 1rem;
          }
          &::after {
            bottom: 0;
          }
        }
        .statistic-icon {
          transform: scale(1);
        }
        .border-span-x {
          &::before, &::after {
            transform: translateY(0);
            opacity: 1;
          }
          &::after {
            transition-delay: .4s;
          }
        }
        .border-span-y {
          &::before {
            transform: translateX(0);
            opacity: 1;
          }
          &::after {
            transform: translateX(0);
            transition-delay: .1s;
            opacity: 1;
          }
        }
      }
    }
  }
  .history-arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .history-arrow {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 0 8px 12px;
      border-color: transparent transparent transparent $anthem-blue;
      &.history-arrow-left {
        border-width: 8px 12px 8px 0;
        border-color: transparent $anthem-blue transparent transparent;
      }
    }
  }
  #history-module-label {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: 200;
  }
}

// Divider

.divider {
  background-color: $anthem-blue;
  height: $space5;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-family: $neuzeit;
    -webkit-font-smoothing: antialiased;
  }
}

// Product links

.product-list {
  .product-list-item {
    overflow: hidden;
    border: none;
    font-size: $font-1;
    &:not(:last-of-type) + span {
      width: 100%;
      border-bottom: 1px solid rgb(200,200,200);
      z-index: 1;
    }
    &:focus {
      background-color: transparent;
      border: none;
      outline: none;
    }
    &::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 121, 194, .5)), to(rgba(140, 194, 46, .5)));
      background-image: -webkit-linear-gradient(left, rgba(0, 121, 194, .5), rgba(140, 194, 46, .5));
      background-image: -moz-linear-gradient(left, rgba(0, 121, 194, .5), rgba(140, 194, 46, .5));
      background-image: -o-linear-gradient(left, rgba(0, 121, 194, .5), rgba(140, 194, 46, .5));
      transform: translateX(-100%);
      transition: all .5s linear;
      opacity: 0;
    }
    &::after {
      top: auto;
      bottom: 0;
      transition: all .3s linear;
    }
    .border-span {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background-color: rgba(0, 121, 194, .5);
        transform: translateY(-100%);
        transition: all .1s linear;
        opacity: 0;
      }
      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background-color: rgba(140, 194, 46, .5);
        transform: translateY(100%);
        transition: transform .1s linear;
      }
    }
    &:hover {
      & > .product-item-bottom-border {
        display: none;
      }
      .border-span {
        &::before, &::after {
          transform: translateY(0);
          opacity: 1;
        }
        &::after {
          transition-delay: .4s;
        }
      }
      &::before {
        transform: translateX(0);
        opacity: 1;
      }
      &::after {
        transform: translateX(0);
        transition-delay: .1s;
        opacity: 1;
      }
    }
    .product-icon {
      width: $space-4;
      height: 100%;
      img {
        width: 100%;
      }
      @include media-breakpoint-up(md) {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transform: translateX(-1rem);
        transition: all .2s linear;
      }
    }
    .arrow {
      width: 1.5rem;
      height: .75rem;
      background-image: url('../images/arrow.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @include media-breakpoint-up(md) {
        opacity: 0;
        transform: translateX(-1rem);
        transition: all .2s linear;
      }
    }
    @include media-breakpoint-down(sm) {
      .product-list-item-title {
        font-size: $font1!important;
      }
    }
    @include media-breakpoint-up(md) {
      .product-list-item-title {
        transition: transform .2s ease-in-out;
      }
      &:hover {
        .product-icon {
          opacity: 1;
          transform: translateX(0);
          transition-delay: .05s;
        }
        .product-list-item-title {
          transform: translateX(4rem);
        }
        .arrow {
          opacity: 1;
          transform: translateX(0);
          transition-delay: .1s;
        }
      }
    }
  }
}

// Products

#products-info-wrapper {
  .product-item {
    opacity: 0;
    transform: translateY(4em);
    transition: all .3s linear;
    @include media-breakpoint-down(sm) {
      margin-bottom: $space1!important;
      h3 {
        margin: 1em 0!important;
      }
    }
    @media (min-width: 768px) and (orientation: portrait) {
      .col-md-4 {
        max-width: 45%!important;
        flex: 0 0 45%!important;
      }
      .offset-md-1 {
        margin-left: 0!important;
      }
    }
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .product-image {
    height: 0;
    padding-bottom: 80%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      object-fit: cover;
      object-position: center;
    }
  }
  .product-cta {
    display: inline-block;
    background-color: $anthem-cta;
    text-transform: uppercase;
    padding: .65em 1.5em .5em;
    border-radius: .3em;
    font-size: .8rem;
    font-size: $font-2;
    line-height: .85rem;
    margin-right: .4em;
    transition: all .1s linear;
    overflow: visible;
    margin-bottom: .5em;
    @include media-breakpoint-down(sm) {
      font-size: $font-1!important;
    }
    &:hover {
      text-decoration: none;
      background-color: #E3E7E8;
      background-color: $anthem-blue;
      color: white;
      box-shadow: 1px 1px 3px rgba(54,55,50,.1);
    }
  }
  .product-slides {
    .product-slide {
      &:focus {
        outline: none;
      }
      h4 {
        margin: $space-3 0 $space-4 0!important;
        @include media-breakpoint-up(lg) {
          margin: $space1 0 $space-2 0!important;
        }
        @media (min-width: 768px) and (orientation: portrait) {
          margin: $space-4 0 $space-4 0!important;
        }
      }
      p {
        margin-bottom: $space-2!important;
        @include media-breakpoint-down(sm) {
          margin-bottom: $space-4!important;
        }
      }
    }
    .slick-dots {
      padding: 0;
      list-style-type: none;
      margin-top: 1rem;
      position: relative;
      overflow: hidden;
      .slide-indicator {
        transition: left .3s linear;
        width: 2.5rem;
        height: .15rem;
        position: absolute;
        left: -.625rem;
        bottom: 0;
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from($anthem-green), to($anthem-blue));
        background-image: -webkit-linear-gradient(left, $anthem-green, $anthem-blue);
        background-image: -moz-linear-gradient(left, $anthem-green, $anthem-blue);
        background-image: -o-linear-gradient(left, $anthem-green, $anthem-blue);
      }
      li {
        display: inline-block;
        width: 1.25rem;
        height: 2.5rem;
        margin-right: 1.25rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        font-size: $font-1;
        &::after {
          content: '';
          width: 1.25rem;
          height: 100%;
          position: absolute;
          top: 0;
          left: 100%;
          background-color: white;
        }
        a {
          color: $primary;
          cursor: pointer;
        }
      }
    }
  }
}
